h3{
    color: rgb(103, 92, 173);
    font-size: 1.5em;
    font-weight: bold;
}
p{
    color:green
}
a{
    color: rgb(211, 17, 17);
}
li{
    list-style-type: none;
}
.special{
    color: purple;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(221, 218, 22);
}
span.special,li.special{
    color: rgb(211, 17, 17);
    font-weight: bold;
    font-size: 1.2em;
}
li em{
    color:brown;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(221, 218, 22);
}


a:hover{
    color: rgb(221, 218, 22);
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    background-color: rgb(194, 47, 47);
}
body h1+p.special{
    color: pink;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    padding: 50px;
}
#heading{
    color: rgb(173, 195, 182);
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(23, 3, 3);
    padding: 20px;
}
p#one {
    color: rgb(189, 119, 119);
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(65, 15, 81);
}
li[class]{
    color: rgb(189, 119, 119);
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(65, 15, 81);
    padding: 20px;
}
li[class~="a"]{
    color: rgb(189, 119, 119);
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(65, 15, 81);
    padding: 20px;
}
*{
    color: rgb(189, 119, 119);
    
    font-weight: bold;
    background-color: rgb(10, 2, 12);
    padding: 10px;
}